# Environnement virtuel
venv/
env/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Fichiers sensibles
.env
*.env

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp